.body 
{
    margin-top: 5rem;
    padding: 4rem 5rem;
}
.res-list 
{
    display: flex;
    // justify-content: space-around;
    margin-left: 70px;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.filter-btn
{
    cursor: pointer;
    margin-bottom: 1.5rem;
    padding: 0.5rem 0.8rem;
    background-color: #808080;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;

    &:hover 
    {
        background-color: #707070;
    }
}