$primary-color-1: #202020;
$primary-color-2: #303030;
$primary-color-3: #404040;
$primary-color-4: rgb(251, 137, 44);

.body {
  padding: 4rem 5rem;
  margin-left: 70px;
}
.res-list {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.filter-btn {
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  background-color: #808080;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;

  &:hover {
    background-color: #707070;
  }
}
.body-main {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;

  .search {
    display: flex;

    input {
      padding: 0.3rem 0.8rem;
      font-size: 1.2rem;
      height: 3rem;
      outline: none;
      width: 30rem;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border: none;
    }
    button {
      height: 3rem;
      padding: 0.2rem 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border: none;
      background-color: $primary-color-4;
      color: white;

      &:hover {
        background-color: orange;
      }

      span {
        padding: 0;
        margin: 0;
        font-size: 2rem;
      }
    }
  }
}
