.cart-item {
  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 2px solid white;
  padding: 1rem;
}
.cart-item > * {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}
.cart {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 4rem;
  flex-direction: column;
}
.cart-item-count {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  button {
    width: 30px;
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 10px;
  }
}
.cart-item-price {
  font-size: 1.5rem;
}
.cart-inner {
  padding: 0 12rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    border: 2px solid gray;
    background-color: white;
    padding: .5rem .8rem;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
  
    &:hover {
        transform: scale(.95);
        background-color: rgb(189, 189, 189);
    }
  }
}
.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;

    img {
        width: 400px;
    }
}
.cart-item-count {
    font-size: 1.5rem;
}