$primary-color-1: #202020;
$primary-color-2: #303030;
$primary-color-3: #404040;
$primary-color-4: rgb(251, 137, 44);

.res-menu {
  margin: 0 15rem;
  margin-top: 2rem;
}
.location {
  font-size: 0.8rem;

  span {
    font-weight: 500;
  }
}
.res-menu-main {
  padding-top: 3rem;
  border-bottom: 1px solid gray;
}
.res-menu-main-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .res-menu-main-left {
    .name {
      margin-bottom: 0.5rem;
    }
    .cuisine,
    .area {
      color: rgb(179, 179, 179);
    }
  }
  .res-menu-main-right {
    border: 1px solid gray;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .avg-rating {
      font-weight: bolder;
      color: rgb(126, 252, 126);
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid gray;
    }
  }
}
.res-menu-main-down {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  color: rgb(179, 179, 179);
}
.res-menu-recommended {
  margin-top: 2rem;
  border-bottom: 18px solid #505050;

  .desc {
    font-size: 1rem;
    margin-top: 0.75rem;
    color: rgb(179, 179, 179);
  }
}
.res-menu-rec-right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 120px;
  img {
    height: 100px;
    width: 120px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
  }
}
.res-menu-rec {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin: 1rem 0;
  padding-bottom: 1rem;

  &:last-child {
    border: none;
  }
}
.res-menu-items {
  margin-top: 2rem;
}
.res-menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;

  span {
    font-size: 2rem;
  }
}
.add-btn {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translate(-50%, 0);

  .btn-1 {
    height: 30px;
    width: 75px;
    font-size: 1rem;
    font-weight: bold;
    color: green;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;

    &:hover {
      background-color: rgb(208, 208, 208);
    }
  }

  .count-btn {
    width: 75px;
    height: 30px;
    border: 2px solid gray;
    background-color: white;
    bottom: -8px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;

    p {
      color: black;
      text-align: center;
      padding: 0 4px;
      font-weight: bold;
      color: green;
    }
    button {
      background-color: white;
      width: 100%;
      height: 100%;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: rgb(208, 208, 208);
      }

      &:nth-child(1) {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &:nth-child(3) {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
    * {
      width: 33.33%;
      color: green;
      font-size: 1rem;
      font-weight: bold;
    }
  }
}
.veg-svg {
  height: 16px;
  width: 16px;
}
.res-above {
  display: flex;
  gap: 0.5rem;
}
