.shimmer-menu {
  margin: 0 15rem;
  margin-top: 7rem;
}
.shimmer-menu-one-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.shimmer-menu-one {
  display: flex;
  justify-content: space-between;
}
.shimmer-1 {
  margin-top: 1rem;
}
.shimmer-menu-two {
  margin-top: 4rem;
}
.shimmer-menu-content {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
